@import "macchiato.css";

#waybar {
	background-color: @crust;
	color: @text;
	font-family: "Ubuntu Nerd Font";
	font-weight: 600;
	font-size: 16px;
	border-radius: 10px;
}

#workspaces,
#clock,
#network,
#wireplumber,
#battery {
	padding: 5px;
}

#workspaces button.active {
	color: @text;
}

#workspaces button.active:hover {
	color: @mantle;
}

#battery, #wireplumber {
	margin-right: 10px;
}

